.get-started {

    padding: 20px 0 80px 0;

    .step {

        .step-number {
            $font-size: 1.5rem;

            text-align: center;
            font-size: $font-size;
            width: $font-size + 1.5rem;
            line-height: $font-size;
            padding: 12px;
            border-radius: 100%;
            background: #0078ed;
            display: block;
            font-weight: bold;
            margin: 0 auto;
        }

        .step-title {
            text-align: center;
            font-size: 1.8rem;
            margin-top: 20px;
        }

        .step-content {
            font-size: 1.2rem;
            line-height: 1.9rem;

            code {
                font-weight: bold;
                background: #fff;
                color: #111;
                padding: 2px 6px;
                border-radius: 4px;
            }
        }

    }

}